.events-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;

  width: 300px;
  height: 225px;

  border-radius: 8px;
  border: 1px solid rgba(222, 222, 222, 0.7);
  background: #e3dfff;
}

.volunteer-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;

  width: 300px;
  height: 125px;

  border-radius: 8px;
  border: 1px solid rgba(222, 222, 222, 0.7);
  background: #e3dfff;
}

.events-card-header {
  font-weight: 700;
  font-size: 20px;
}

.events-card-header > p {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
}

.events-card-desc > p {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0;
}

.events-card-footer {
  width: 100%;
}

.divider {
  width: 100%;
  background-color: white;
  height: 1px;
  margin-bottom: 5px;
}

.events-card-footer > p {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 0;
}
