html,
body {
  height: 100%;
}

.container {
  height: 100vh;
}

.button-3 {
  appearance: none;
  background: #7d57c2;
  border: 2px solid #7d57c2;
  border-radius: 10px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  max-width: 180px;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #4d4488;
}

.button-3:focus {
  outline: none;
}

.button-3:disabled {
  background-color: #e3dfff;
  color: white;
  cursor: not-allowed;
}

.button-3:active {
  background-color: #7d57c2;
}

.navbar-additional {
  box-shadow: 0px 10px 15px -12px rgba(0, 0, 0, 0.1);
}
