.auth-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 10px 0px;
}

h4 {
  color: #563d88;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link-tag {
  font-weight: 500;
  font-size: 20px;
  line-height: 37px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #7d57c2;
}

.child-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-tag:hover {
  color: #633da9;
}

.logo {
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 425px) {
  .logo {
    height: 125px;
    width: 125px;
  }
}
